/* @settings

name: Garden Snippet - Color
id: garden-color
settings:
    - 
        id: base-color
        title: Base Color
        type: heading
        level: 1
	- 
        id: my-info-text
        title: Information
        description: "This is *informational* text"
        type: info-text
        markdown: true
    - 
        id: garden-color-base-100
        title: Foreground Color
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#4a341c'
		default-dark: '#e6cfb3'
    - 
        id: garden-color-base-00
        title: Background Color
        description: wdw
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#f7f3ee'
		default-dark: '#2c2621'
    - 
        id: garden-color-base-link
        title: Link Color
        description: wdw
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#'
		default-dark: '#'
    - 
        id: garden-color-base-header
        title: Header Color
        description: wdw
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#'
		default-dark: '#'
    - 
        id: extended-color
        title: Extented Color
        type: heading
		collapsed: true
        level: 1
	- 
        id: garden-color-mk
        title: Colorfull syntax
        description: Adds my-css-class to the body element
        type: class-toggle
		default: false
	- 
        id: garden-color-red
        title: Red
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#df453a'
		default-dark: '#db6057'
	- 
        id: garden-color-orange
        title: Orange
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#ea702e'
		default-dark: '#f6762c'
	- 
        id: garden-color-yellow
        title: Yellow
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#e4ae25'
		default-dark: '#ebc400'
	- 
        id: garden-color-green
        title: Red color
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#42b885'
		default-dark: '#38b27d'
	- 
        id: garden-color-cyan
        title: Cyan
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#2882c3'
		default-dark: '#4dadd5'
	- 
        id: garden-color-blue
        title: Blue
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#2882c3'
		default-dark: '#4dadd5'
	- 
        id: garden-color-purple
        title: Purple
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#8d6fb3'
		default-dark: '#9f78dd'
	- 
        id: garden-color-pink
        title: Pink
        description: 
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: '#8d6fb3'
		default-dark: '#9f78dd'

*/



body.theme-light.css-settings-manager {
	--garden-color-base-100-light: #4a341c;
	--garden-color-base-00-light: #f7f3ee;
	--garden-color-red-light: #df453a;
	--garden-color-orange-light: #ea702e;
	--garden-color-yellow-light: #e4ae25;
	--garden-color-green-light: #42b885;
	--garden-color-cyan-light: #2882c3;
	--garden-color-blue-light: #2882c3;
	--garden-color-purple-light: #8d6fb3;
	--garden-color-pink-light: #8d6fb3;

	--h1-color: var(--garden-color-base-header);
	--h2-color: var(--garden-color-base-header);
	--h3-color: var(--garden-color-base-header);
	--h4-color: var(--garden-color-base-header);
	--h5-color: var(--garden-color-base-header);
	--h6-color: var(--garden-color-base-header);

	--link-external-color:      		var(--garden-color-base-link);
	--link-external-color-hover:      	color-mix(in srgb, var(--garden-color-base-link) 25%, var(--color-base-100));
	--link-color:      					var(--garden-color-base-link);
	--link-color-hover:      			color-mix(in srgb, var(--garden-color-base-link) 25%, var(--color-base-100));

	--garden-color-base-100: var(--garden-color-base-100-light);
	--garden-color-base-00: var(--garden-color-base-00-light);
	--garden-color-red: var(--garden-color-red-light);
	--garden-color-orange: var(--garden-color-orange-light);
	--garden-color-yellow: var(--garden-color-yellow-light);
	--garden-color-green: var(--garden-color-green-light);
	--garden-color-cyan: var(--garden-color-cyan-light);
	--garden-color-blue: var(--garden-color-blue-light);
	--garden-color-purple: var(--garden-color-purple-light);
	--garden-color-pink: var(--garden-color-pink-light);
}

body.theme-dark.css-settings-manager {
	--garden-color-base-100-dark: #e6cfb3;
	--garden-color-base-00-dark: #2c2621;
	--garden-color-red-dark: #db6057;
	--garden-color-orange-dark: #f6762c;
	--garden-color-yellow-dark: #ebc400;
	--garden-color-green-dark: #38b27d;
	--garden-color-cyan-dark: #4dadd5;
	--garden-color-blue-dark: #4dadd5;
	--garden-color-purple-dark: #9f78dd;
	--garden-color-pink-dark: #9f78dd;

	--h1-color: var(--garden-color-base-header);
	--h2-color: var(--garden-color-base-header);
	--h3-color: var(--garden-color-base-header);
	--h4-color: var(--garden-color-base-header);
	--h5-color: var(--garden-color-base-header);
	--h6-color: var(--garden-color-base-header);

	--link-external-color:      		var(--garden-color-base-link);
	--link-external-color-hover:      	color-mix(in srgb, var(--garden-color-base-link) 25%, var(--color-base-100));
	--link-color:      					var(--garden-color-base-link);
	--link-color-hover:      			color-mix(in srgb, var(--garden-color-base-link) 25%, var(--color-base-100));

	--garden-color-base-100: var(--garden-color-base-100-dark);
	--garden-color-base-00: var(--garden-color-base-00-dark);
	--garden-color-red: var(--garden-color-red-dark);
	--garden-color-orange: var(--garden-color-orange-dark);
	--garden-color-yellow: var(--garden-color-yellow-dark);
	--garden-color-green: var(--garden-color-green-dark);
	--garden-color-cyan: var(--garden-color-cyan-dark);
	--garden-color-blue: var(--garden-color-blue-dark);
	--garden-color-purple: var(--garden-color-purple-dark);
	--garden-color-pink: var(--garden-color-pink-dark);
}



body.theme-dark.css-settings-manager, body.theme-light.css-settings-manager {
	--color-base-00:						var(--garden-color-base-00);
	--color-base-05:						color-mix(in srgb, var(--garden-color-base-100) 5%,  var(--garden-color-base-00));
	--color-base-10:						color-mix(in srgb, var(--garden-color-base-100) 10%, var(--garden-color-base-00));
	--color-base-20:						color-mix(in srgb, var(--garden-color-base-100) 20%, var(--garden-color-base-00));
	--color-base-25:						color-mix(in srgb, var(--garden-color-base-100) 25%, var(--garden-color-base-00));
	--color-base-30:						color-mix(in srgb, var(--garden-color-base-100) 30%, var(--garden-color-base-00));
	--color-base-35:						color-mix(in srgb, var(--garden-color-base-100) 35%, var(--garden-color-base-00));
	--color-base-40:						color-mix(in srgb, var(--garden-color-base-100) 40%, var(--garden-color-base-00));
	--color-base-50:						color-mix(in srgb, var(--garden-color-base-100) 50%, var(--garden-color-base-00));
	--color-base-60:						color-mix(in srgb, var(--garden-color-base-100) 60%, var(--garden-color-base-00));
	--color-base-70:						color-mix(in srgb, var(--garden-color-base-100) 70%, var(--garden-color-base-00));
	--color-base-100: 						var(--garden-color-base-100);

	--background-primary:                	var(--color-base-00);
	--background-primary-alt:            	var(--color-base-05);

	--background-secondary:              	var(--color-base-00);
	--background-secondary-alt:          	var(--color-base-05);

	--background-modifier-hover: 			var(--color-base-25);
	--background-modifier-active-hover: 	var(--color-base-25);
	--background-modifier-border: 			var(--color-base-10);
	--background-modifier-border-hover: 	var(--color-base-20);
	--background-modifier-border-focus: 	var(--color-base-70);
	--background-modifier-error-rgb: 		var(--mono-rgb-0);
	--background-modifier-error: 			var(--color-base-05);
	--background-modifier-error-hover: 		var(--color-base-05);
	--background-modifier-success-rgb: 		var(--mono-rgb-0);
	--background-modifier-success: 			var(--color-base-05);
	--background-modifier-message: 			var(--color-base-05);
	--background-modifier-form-field: 		var(--color-base-05);
 
	--divider-color:						var(--color-base-05);
	--divider-width:						1px;

	--accent-h: 0;
	--accent-s: 0;
	--accent-l: 50%;

	--interactive-normal: 					var(--color-base-05);
	--interactive-hover: 					var(--color-base-50);
	--interactive-accent: 					var(--color-base-70);
	--interactive-accent-hsl: 				0, 0, 50;
	--interactive-accent-hover: 			var(--color-base-70);

	--text-normal: 							var(--color-base-100);
	--text-muted: 							var(--color-base-50);
	--text-faint: 							var(--color-base-25);
	--text-on-accent: 						var(--color-base-00);
	--text-on-accent-inverted: 				var(--color-base-100);
	--text-success: 						var(--color-base-100);
	--text-warning: 						var(--color-base-100);
	--text-error: 							var(--color-base-100);
	--text-accent: 							var(--color-base-100);
	--text-accent-hover: 					var(--color-base-100);

	--code-normal:							var(--text-muted);		

	--color-red: 							var(--garden-color-red);
	--color-orange: 						var(--garden-color-orange);
	--color-yellow: 						var(--garden-color-yellow);
	--color-green: 							var(--garden-color-green);
	--color-cyan: 							var(--garden-color-cyan);
	--color-blue: 							var(--garden-color-blue);
	--color-purple: 						var(--garden-color-purple);
	--color-pink: 							var(--garden-color-pink);
	--color-red-rgb: 						color-mix(in hsl, var(--color-red) 100%, transparent);
	--color-orange-rgb: 					color-mix(in hsl, var(--color-orange) 100%, transparent);
	--color-yellow-rgb:						color-mix(in hsl, var(--color-yellow) 100%, transparent);
	--color-green-rgb: 						color-mix(in hsl, var(--color-green) 100%, transparent);
	--color-cyan-rgb: 						color-mix(in hsl, var(--color-cyan) 100%, transparent);
	--color-blue-rgb: 						color-mix(in hsl, var(--color-blue) 100%, transparent);
	--color-purple-rgb: 					color-mix(in hsl, var(--color-purple) 100%, transparent);
	--color-pink-rgb: 						color-mix(in hsl, var(--color-pink) 100%, transparent);

	--icon-color-active:                var(--text-normal);
	--icon-color-focused:               var(--text-normal);
	--icon-color-hover:                 var(--text-faint);
	--icon-color:                       var(--text-faint);
	--icon-hex:                         var(--mono0);

	--nav-item-color:					var(--text-muted);
	--nav-item-color-active:			var(--text-normal);
	--nav-item-color-hover:				var(--text-normal);
	--nav-collapse-icon-color:           var(--text-faint);
	--nav-collapse-icon-color-collapsed: var(--text-faint);
	--nav-indentation-guide-color:       var(--background-primary);

	--ribbon-background:                 var(--background-secondary);

	--titlebar-background:               var(--background-secondary) !important;
	--titlebar-background-focused:       var(--background-secondary) !important;
	--titlebar-text-color-focused:       var(--text-normal) !important;
	--tab-container-background:			var(--color-red) !important;
}

.garden-color-mk {
	--code-normal:						var(--color-red);	
	--bold-color: 						var(--color-red);
	--italic-color: 					var(--color-blue);
	--link-external-color:      		var(--text-normal);
	--link-external-color-hover:      	var(--text-normal);
	--link-color:      					var(--color-yellow);
	--link-color-hover:      			color-mix(in srgb, var(--color-yellow) 25%, var(--color-base-100));
}